.background-menu-homepage {
    background-color: #F0F0F0;
}
.mainbody{
    width: calc(100% - 240px);
    align-items: center;
    margin: 15px 120px;
    padding: 0px;
    box-sizing: border-box;
    border-radius: 8px;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.header-breadcrumbs.background-menu-homepage {
    width: 100%;
    text-align: center;
}

.header-breadcrumbs.background-menu-homepage img {
    width: 100%;
    height: auto;
}
.no-padding-left{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.no-padding-right{
    padding-right: 0px !important;
}
.std {
    font-size: 13px;
}

.fhs-banner-image-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* padding-left: 8%;
    padding-right: 8%; */
}
.no-padding {
    padding: 0 !important;
}
.block-item {
    flex: 1 0 10%;
    margin-right: 3px;
}
@media (min-width: 768px){
.col-sm-3 {
    width: 24%;
}
}
@media (min-width: 768px){
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
}
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
}
.banner-home-inner {
    margin-bottom: 0;
    margin-top: 16px;
    border-radius: 8px;
    text-align: center;
}
.banner-home-inner img {
    transition: all 0.5s ease;
    border-radius: 8px;
    max-width: 100%;
    height: auto;
}

.ma-block-static-2, .banner-home-inner, .ma-block-static-inner {
    overflow: hidden;
}
.cursor-pointer {
    cursor: pointer;
    user-select: none;
}
a {
    color: #646464;
}
a {
    text-decoration: none;
    transition: all 300ms ease-in 0s;
}
a {
    background: transparent;
}

.banner-home-inner img, .ma-block-static-2 img, .ma-block-static-inner img {
    transition: all 0.5s ease;
}
img {
    max-width: 100%;
    height: auto;
    border: 0;
    vertical-align: top;
    overflow-clip-margin: content-box;
    overflow: clip;
}
.cursor-pointer {
    cursor: pointer;
    user-select: none;
}
.fs_bg{
    width: 100%;
    padding: 5px;
    background-color: #ff6c6b;
}
.flashsale_header .flashsale-countdown-number, .flashsale-product-info .flashsale-countdown-number {
    padding: 6px;
    background-color: #000;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 8px;
}
.fhs_center_right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
}
.fhs_btn_default_text.blue {
    color: #1478FC;
}
@media screen and (min-width: 992px){
.desktop_only {
    display: flex;
}
}
.fhs_btn_default_text {
    font-size: 14px;
    font-weight: 700;
}
.flashsale_header .icon_seemore_gray, .flashsale_header .icon_seemore_blue {
    height: 18px;
    width: 24px;
}
@media screen and (min-width: 992px){
.desktop_only {
    display: flex;
}
}

@media screen and (min-width: 992px){
.mobile_only {
    display: none !important;
}
}

.f-right, .right {
    float: right !important;
}
ul li{
    list-style: none;
}
/* .fs_bg {
    background: url(https://cdn0.fahasa.com/media/fahasa_web_image/flash_sale_background_image.jpg) no-repeat center center;
    position: relative;
    z-index: 1;
}
#flashsale-slider {
    display: none;
    margin: 32px 0px;
    position: relative;
    z-index: 1;
}
.flashsale_header {
    padding: 18px 24px;
    margin: 0 0 16px 0;
    display: -webkit-flex;
    text-decoration: row;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: white;
    border-radius: 8px;
}
.fhs_center_space{
    justify-content: space-between;
}
.fhs_center_left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
}
#flashsale-slider.flashsale-slider-title{
    display: flex;
    direction: row;
    justify-content: center;
    align-items: center;
}
.margin-left-big{
    margin-top: 2px;
    margin-left: 18px;
}
.margin_left_normal {
    margin-left: 8px;
}
.flashsale-countdown > span {
    color: #000;
    font-size: 1em;
    font-weight: bold;
}

.padding_left_big{
    padding-left: 16px;
}
*/

.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.std ul {
    list-style: disc outside;
    padding-left: 1.5em;
}
.std ul, .std ol, .std dl, .std p, .std address, .std blockquote {
    padding: 0;
}
.fhs-product-slider-list {
    padding-left: 0 !important;
    width: 100%;
    font-size: 14px;
}
.swiper-wrapper {
    position: relative;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform, -webkit-transform;
    box-sizing: content-box;
}
ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

#flashsale-slider .flashsale-item {
    background-color: #fff;
    border-radius: 8px;
    height: auto;
    margin: 2px 0px;
}
.fhs-product-slider-list > li, .fhs-product-grid-list > li {
    position: relative;
    font-size: 0.8em;
}
.swiper-slide{
    flex-shrink: 0;
    transition-property: transform, -webkit-transform;
}
.fhs_product_basic.flashsale-item .item-inner {
    padding: 8px;
    border: none;
}
.fhs_product_basic .item-inner {
    margin: 0px 2px 8px;
}
@media (max-width: 992px){
.fhs_product_basic .item-inner {
    border-radius: 4px;
}
}
.fhs-product-slider-list > li, .fhs-product-grid-list > li {
    font-size: 0.8em;
}
.fhs_product_basic .ma-box-content {
    padding: 0px !important;
}
.ma-box-content {
    display: block;
}
#flashsale-slider .products {
    position: relative;
}
.flashsale-item .ma-box-content .products {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ma-box-content .products {
    margin: 0 0 8px;
}
.clear {
    clear: both;
}
.flashsale-item .product .images-container {
    text-align: center;
}
.item-inner .images-container{
    position: relative;
    overflow: hidden;
}
#flashsale-slider .products img {
    max-height: 190px;
}
@media (max-width: 992px){
.item-inner .images-container .product-image img {
    object-fit: contain;
}
}
@media (max-width: 992px){
.item-inner .images-container .product-image img {
    min-height: 158px;
}
}
.flashsale-item .product-name-no-ellipsis {
    display: block;
    font-size: 18px;
    line-height: 39px;
    margin: 0;
}
.flashsale-item .product-name-no-ellipsis a {
    padding-top: 0px !important;
    line-height: 1.4em;
    word-break: break-word;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    min-height: 2.8em;
    max-height: 2.8em;
    font-size: 0.78em;
    color: #0D0E0F;
    text-align: left;
}
.item-inner .price-label {
    height: 5rem;
}
.flashsale-item .flashsale-price, .wrap-item .price-label, .item-inner .price-label {
    position: relative;
    margin-top: 4px;
}
.flashsale-item .special-price, .categorytab-slider .special-price, .personalization-item .special-price, .products-grid .special-price, #girdslider-page-container .special-price, #girdslider-page-container .special-price, .products-grid .regular-price, .fhs-product-grid .special-price, .fhs-product-grid-list .special-price, .products_grid_mobile .special-price, #fhs-asidebar-product-block-content .special-price, #event-buffetcombo-container .special-price {
    margin: 0px;
    background-color: transparent !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
}
.special-price{
    zoom: 1;
    color: #fff;
}
