.background-menu-homepage {
    background-color: #F0F0F0;
}
.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}
.container  {
    padding-left: 0px;
    padding-right: 0px;
}
.row
{
    margin: 0 !important;
}
.no-padding {
    padding: 0 !important;
}
.small-banner {
    width: 100%;
    border-radius: 8px;
}
@media (max-width: 992px) {
    .col-md-4 .swiper-slide {
        display: none;
    }
}
.banner-home-inner {
    margin-bottom: 0;
    margin-top: 16px;
    border-radius: 8px;
    text-align: center;
}
.banner-home-inner img {
    transition: all 0.5s ease;
    border-radius: 8px;
    max-width: 100%;
    height: auto;
}
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.block-item {
    flex: 0 0 auto;
    width: calc(25% - 7.5px);
    margin-bottom: 15px;
}

.block-item:first-child,
.block-item:nth-child(2) {
    margin-right: 7px;
}


.block-item:last-child {
    margin-left: 7px;
}

.block-item img {
    width: 100%;
    height: auto;
}
.ma-block-static-2, .banner-home-inner, .ma-block-static-inner {
    overflow: hidden;
}
.cursor-pointer {
    cursor: pointer;
    user-select: none;
}
a {
    color: #646464;
}
a {
    text-decoration: none;
    transition: all 300ms ease-in 0s;
}
a {
    background: transparent;
}

.banner-home-inner img, .ma-block-static-2 img, .ma-block-static-inner img {
    transition: all 0.5s ease;
}
img {
    max-width: 100%;
    height: auto;
    border: 0;
    vertical-align: top;
    overflow-clip-margin: content-box;
    overflow: clip;
}
.cursor-pointer {
    cursor: pointer;
    user-select: none;
}
.fs_bg{
    background-color: #ff6c6b;
}

.time-flashsale{
    background-color: white;
    padding: 20px 10px 10px 10px;
    border-radius: 5px;
}
.flashsale-countdown-number {
    padding: 6px;
    background-color: #000;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 8px;
}
.fhs_center_right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
}
.margin-left-big{
    margin-top: 2px;
    margin-left: 18px;
}
.fhs_btn_default_text.blue {
    color: #1478FC;
}
@media screen and (min-width: 992px){
.desktop_only {
    display: flex;
}
}
.fhs_btn_default_text {
    font-size: 14px;
    font-weight: 700;
}
.flashsale_header .icon_seemore_gray, .flashsale_header .icon_seemore_blue {
    height: 18px;
    width: 24px;
}
@media screen and (min-width: 992px){
.desktop_only {
    display: flex;
}
}

@media screen and (min-width: 992px){
.mobile_only {
    display: none !important;
}
}

.f-right, .right {
    float: right !important;
}
ul li{
    list-style: none;
}
.product-flashsale {
    padding-top: 5px;
}

.ma-box-content .products {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fhs_product_basic .ma-box-content {
    padding: 0px !important;
}

.ma-box-content {
    display: block;
}

.flashsale-item .product .images-container {
    text-align: center;
}

.item-inner .images-container {
    position: relative;
    overflow: hidden;
    height: 100%;
    padding-top: 5px;
}

.product-flashsale {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.imgproduct {
    flex: 1 1 19%;
    max-width: 19%;
    border-radius: 8px;
    background-color: white;
}

.imgproduct:last-child {
    margin-right: 0;
}
.product-name-no-ellipsis a{
    font-size: 14px;
    font-weight: 500;
    color: black;
}
.product-name-no-ellipsis {
    white-space: nowrap; /* Không cho phép ngắt dòng */
    overflow: hidden; /* Ẩn phần văn bản tràn ra ngoài */
    text-overflow: ellipsis; /* Thêm dấu "..." ở cuối văn bản khi quá dài */
    display: block; /* Đảm bảo phần tử là khối để áp dụng các thuộc tính trên */
    width: 100%; /* Đảm bảo nó chiếm toàn bộ chiều rộng của khối chứa */
}
.price-discount{
    position: relative;
    display: flex;
}
/* .name-book {
    width: 200px;
    height: 40px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
} */

.price-new-flashsale{
    font-size: 16px;
    color: #CC0000;
    font-weight: bold;
    margin-right: 8px;
}
.sale{
    padding: 3px;
    color: white;
    background-color: #CC0000;
    font-size: 12px;
    font-weight: bold;
    border-radius: 3px;
}
.progress-container {
    position: relative;
    height: 16px;
    background-color: #cfc5c5;
    border-radius: 10px;
    margin-top: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.progress-bar {
    height: 100%;
    background-color: #CC0000;
    border-radius: 8px;
    position: relative;
}

.progress-text {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 12px;
    text-align: center;
    width: 100%;
}

.category-book{
    background-color: white;
    padding-top: 20px;
    border-radius: 8px;
    padding-bottom: 10px;
}
.cate-book{
    font-size: 30px;
    margin-right: 10px;
    color: #f24f4f;
}
.name-book-category{
    font-size: 16px;
    color: #646464;
}
.menucategory {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 15px;
}
.menucategory::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 20px;
    right: 20px;
    height: 1px;
    background-color: #eee9e9;
}

.menucategory span {
    margin-right: 10px;
}

.menucategory h4 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}
.image-categoy-book{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.image-categoy-book img{
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-bottom: 10px;
}
.name-book-category{
    text-align: center;
}
.shop-trend{
    background-color: #FCDDEF;
    margin-top: 30px;
    padding-top: 10px;
    border-radius: 8px;
}
.shop-trend-main {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    position: relative;
}
.shop-trend-main::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 20px;
    right: 20px;
    height: 1px;
}

.shop-trend-main h4 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}
.body-container{
    background-color: white;
    border-radius: 8px;
}
.item-trend{
    position: relative;
    z-index: 1;
    display: flex;
    transition-property: transform;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    border-bottom: 1px solid #dbdada;
}
li{
    list-style: none;
}
.item-trend-title{
    padding-right: 25px;
}
.item-trend-title.active {
    font-weight: bold;
    color: #ff0000;
}
.product-list {
    display: none;
}
.product-list.active {
    display: block;
}
.featured-brands{
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.item-featured-brands{
    padding-right: 25px;
}
.item-featured-brands.active {
    font-weight: bold;
    color: #ff0000;
}
.featured-brands-list {
    display: none;
}
.featured-brands-list.active {
    display: block;
}
.item-featured-brands-second{
    padding-right: 25px;
}
.item-featured-brands-second.active{
    font-weight: bold;
    color: #ff0000;
}
.featured-brands-second-list {
    display: none;
}
.featured-brands-second-list.active {
    display: block;
}

.item-featured-brands-third{
    padding-right: 25px;
}
.item-featured-brands-third.active{
    font-weight: bold;
    color: #ff0000;
}
.featured-brands-third-list{
    display: none;
}
.featured-brands-third-list.active {
    display: block;
}
.weekly-leaderboard{
    background-color: #000;
    color: white;
    margin-top: 30px;
    font-size: 17px;
    padding: 15px 15px;
}
.item-weekly-leaderboard{
    position: relative;
    z-index: 1;
    display: flex;
    transition-property: transform;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    padding-right: 25px;
}
.product-weekly-leaderboard{
    display: flex;
    position: relative;
}
.product-weekly-leaderboard-item{
    margin-right: 15px;
}
.product-weekly-leaderboard-title{
    color: black;
}
.product-weekly-leaderboard-buy-number{
    color: rgb(66, 161, 245);
}
.product-weekly-leaderboard-main a{
    list-style: none;
}

.product-weekly-leaderboard {
    display: flex;
    align-items: center;
}

.product-weekly-leaderboard-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.product-weekly-leaderboard-item > div,
.product-weekly-leaderboard-item > i {
    margin-bottom: 5px;
}
.product-weekly-leaderboard-main{
    border-right: 1px solid #dbdada;
}
