/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn-primary{
    background-color: rgb(65, 190, 232);
    border: none;
}
.button{
    border: none;
    margin-right: 10px;
}
.submit-delete{
    text-align: center;
}
.dropdown-item{
    padding: 0px;
}
/*  */
.page-header h1 {
    font-weight: 300;
    font-size: 30px;
    color: #4c4d5a;
    margin-bottom: 15px;
    text-shadow: 0 1px #fff;
    margin-top: 10px;
}

.card-body {
    border: 1px solid gray;
}

.title-col td {
    color: #1e91cf;
    font-weight: 500;
}

.title-col td:hover {
    color: #1874a6;
}

.btn-group {
    background-color: lightblue;
}

.btn-group .btn i {
    color: #fff;
}

/* Filter CSS */
#filter-order .card .card-body .form-label {
    font-weight: 600;
    margin-bottom: 0.5rem;
}
